

.welcome-container h2 {
  color: #fcfcfc;
  font-size: 30px;
  margin-bottom: 20px;
}
.HomePage{
  text-align: center;
  background-color: rgba(255, 255, 255, 0); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  z-index: 1; 
}
.HomePage h1 {
  color: #fcfcfc; /* 深灰色字体 */
  font-size: 50px;
  margin-bottom: 10px;
}
.HomePage h3 {
  color: #fcfcfc;
  font-size: 20px;
  margin-bottom: 10px;
}

.welcome-container a {
  color: #f7f1f2; /* link */
  text-decoration: none; /* _____x */
  font-size: 18px;
}

.welcome-container a:hover {
  color: #ec3c10; /* 深蓝色悬停效果 */
  text-decoration: underline; /* 悬停时显示下划线 */
}